/* start general srtyling  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* end general srtyling  */

/* start navbar */
.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar .nav-section {
    width: 90%;
    margin: auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.navbar .nav-section .nav-links {
    grid-column: span 2;
}

.navbar .nav-section .nav-links ul {
    display: flex;
    gap: 10px;
}

.navbar .nav-section .nav-links ul li {
    list-style-type: none;
    position: relative;
    transition: .3s;
    padding: 10px; 
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    overflow: hidden;
}


.navbar .nav-section .nav-links ul li:hover a {
    color: black;
}

.navbar .nav-section .nav-links ul li a {
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    color: #7f7f90;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    overflow: hidden;
}

.navbar .nav-section .nav-links ul li a:hover::after {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.navbar .nav-section .nav-links ul li a::after {
    content:  "";
    width: 100%;
    height: 3px;
    background-color: #CF1212;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-130%);
    -webkit-transform: translateX(-130%);
    -moz-transform: translateX(-130%);
    -ms-transform: translateX(-130%);
    -o-transform: translateX(-130%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
} 

/* button  */
#toggle {
    appearance: none;
    position: fixed;
    top: 25px;
    left: 80%;
    width: 60px;
    height: 30px;
    z-index: 2;
    background-color: #333;
    cursor: pointer;
    transition: .3s all;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}

#toggle:checked {
    background-color: white;
}

 #toggle:checked ~ * {
    background-color: #252525 !important ;
    color: white !important;
}

#toggle:checked ~ .contact .contact-sec .form {
        background-color: #252525 !important;
        filter: drop-shadow( 2px 2px 7px  #3b3b3b);
        -webkit-filter: drop-shadow( 2px 2px 7px  #3b3b3b);
}

#toggle:checked ~ .contact .contact-sec .details-sec .details1 {
    background-color: #252525;
}



#toggle:checked::before {
    left: 32px;
    background-color: #333;
}

#toggle::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
/* button  */
/* end navbar */

/* start home section  */
.home {
    background-color: #EEEEEE;
    position: relative;
    min-height: 100vh;
}

.home .container .landing {
    width: 90%;
    margin:  auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 100px 0;
    text-align: center;
    position: relative;
    top: 80px;

}

.home .landing .landing-content  {
    width: 80%;
    margin: auto;
    text-align: start;
}

.home .landing .landing-img {
    /* width: 60%; */
    margin: auto;
}

.home .landing-img img {
    width: 80%;
    border-radius: 50%;
}

.home .landing .landing-content h2 {
    font-size: 70px;
    line-height: 1.3;
    font-family: 'Amatic SC', sans-serif;
    margin-bottom: 20px;

}

.home .landing .landing-content p {
    line-height: 1.3;
    font-weight: 100;
    padding: 5px;
    margin-bottom: 20px;
}

.home .landing .landing-content button:first-of-type {
    color: white;
    background-color: #CF1212;
    padding:  15px;
    margin-right: 20px;
    border-radius: 0 20px 20px;
    -webkit-border-radius: 0 20px 20px;
    -ms-border-radius: 0 20px 20px;
    -o-border-radius: 0 20px 20px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 0 20px 20px;
    -moz-border-radius: 0 20px 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.home .landing .landing-content button:first-of-type:hover {
    background-color: #E61414;
}

.home .landing .landing-content button:last-of-type {
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position: relative;
}

.home .landing .landing-content button:last-of-type:hover {
    color:#CF1212 ;
}

.home .landing .landing-content button:last-of-type i {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 10px 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 18px;
    margin-right: 10px;
}

.home .landing .landing-content button:last-of-type::before {
    content: "";
    width: 30px;
    height: 15px;
    border: 10px solid;
    border-bottom: 0;
    display: inline-block;
    position: absolute;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transform: rotate(270deg) translate(-25%, -25%);
    left: 0px;
    bottom: 50%;
    border-color: #CE1212;
} 

.home .landing .landing-img  {
    text-align: center;
    filter: drop-shadow( 5px 5px 10px  #545454);
    -webkit-filter: drop-shadow( 5px 5px 10px  #545454);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}


/* animation  */

.home .landing .landing-img:hover {
    animation: shake .5s;
    -webkit-animation: shake .5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
            transform: translate(1px, 1px) rotate(0deg);
        }
    
        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }
    
        60% {
            transform: translate(1px, -1px) rotate(1deg);
        }
    
        80% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }
    
        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }

}
/* animation  */


/* media  */

@media all and (max-width:1200px) and (min-width:991px) {
    .home .landing {
        position: relative;
        top: 80px;
    }
    
    .home .landing .landing-content h2 {
        font-size: 60px;
    }
}

@media all and (max-width:991px) and (min-width:767px) {
    .home .landing {
        position: relative;
        top: 80px;
}
    .home .landing .landing-content {
        width: 100%;
    }

    .home .landing .landing-content h2 {
        font-size: 50px;
    }
}

@media all and (max-width :767px) {
    .home .container .landing {
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        gap: 10px;
        top: 0;
    }

    .home .landing .landing-content {
        text-align: center;
    }

    .home .landing .landing-img {
        grid-row: 1;
    }
}
/* media  */
/* end home section  */


/* start our-chefs section  */
.our-chefs {
    text-align: center;
}

.our-chefs .container {
    padding: 70px 0;
}

.our-chefs .container p:nth-child(1) {
    margin-bottom: 5px;
    color: #545454;
}

.our-chefs .container h2 ,.our-chefs .container h2 span {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.our-chefs .container h2 span {
    color: #CE1212;
}

.chefs-sec {
    display: flex;
    justify-content: center;
}

.our-chefs .chefs-sec .item1 {
    width: 28%;
    margin: 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    overflow: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.chefs-sec .item1 .item-img img {
    width: 100%;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.chefs-sec .item1 .item-img {
    position: relative;
}

.chefs-sec .item1 .item-img::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 13px;
    bottom: 0px;
    left: 0;
    background-image: url(../images/chefs/wavesOpacity.svg);
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
}

.chefs-sec .item1 .item-img .item-logo {
    background-color: #f0ebe787;
    color: #878282;
    width: 10%;
    margin: auto;
    padding: 20px 10px;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(70px);
    gap: 13px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.chefs-sec .item1 .item-img .item-logo i {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.chefs-sec .item1 .item-img .item-logo i:hover {
    color: #4A4A4F;

}

.chefs-sec .item1 .item-caption {
    padding: 15px;
    margin: 10px 0;
}

.chefs-sec .item1 .item-caption h3 {
    margin-bottom: 5px;
    font-size: 22px;
}

.chefs-sec .item1 .item-caption p {
    margin-bottom: 10px;
    color: #545454;
    font-weight: 100;
    font-size: 14px;
}

.chefs-sec .item1:hover {
    transform: scale(104%);
    -webkit-transform: scale(104%);
    -moz-transform: scale(104%);
    -ms-transform: scale(104%);
    -o-transform: scale(104%);
}

.chefs-sec .item1:hover .item-img .item-logo {
    transition-delay: .3s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}


/* media  */
@media all and (max-width:991px) {
    .chefs-sec {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .our-chefs .chefs-sec .item1 {
        width: 43%;
    }
}

@media all and (max-width:767px) {
    .our-chefs .chefs-sec .item1 {
        width: 90%;
    }
}
/* media  */
/* end our-chefs section  */


/* start gellry section  */
.gallery {
    padding: 70px 0;
    background-color: #EEEEEE;
    text-align: center;
}


.gallery .container p:nth-child(1) {
    margin-bottom: 5px;
    color: #545454;
}

.gallery .container .gallery-h ,.gallery .container .gallery-h span {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.gallery .container .gallery-h span {
    color: #CE1212;
}

.gallery .gellery-caption {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.gallery .gellery-caption .content {
    margin: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.gallery .gellery-caption .content1 {
    grid-row: span 300;
}

.gallery .gellery-caption .content2 {
    grid-row: span 800;
}

.gallery .gellery-caption .content3 {
    grid-row: span 500;
}

@media all and (max-width:991px) {
    .gallery .gellery-caption {
        grid-template-columns: repeat(2,1fr);
    }
}

@media all and (max-width:767px) {
    .gallery .gellery-caption {
        grid-template-columns: repeat(1,1fr);
    }
}



.gallery .container  .content {
    position: relative;
    overflow: hidden;
    border: 5px solid white;
}

.gallery .container  .content:hover .content-p {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.gallery .container  .content:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.gallery .container  .content img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.gallery .container  .content .content-p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(103%);
    -webkit-transform: translateY(103%);
    -moz-transform: translateY(103%);
    -ms-transform: translateY(103%);
    -o-transform: translateY(103%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.gallery .content-p .content-edit {
    text-align: center;
    color: white;
    line-height: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50px);
    width: 80%;
    padding: 0 15px;
}

.gallery .content-p .content-edit p {
    font-size: 14px;
}
/* end gellry section  */


/* start contact section  */
.contact {
    padding: 70px 0;
    text-align: center;
}

.contact .contact-sec {
    width: 90%;
    margin: auto;
}

.contact .container p:nth-child(1) {
    margin-bottom: 5px;
    color: #545454;
}

.contact .container .contact-h ,.contact .container .contact-h span {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.contact .container .contact-h span {
    color: #CE1212;
}

.contact .contact-sec {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    margin-top: 20px;
}

.contact .contact-sec .iframe-sec {
    width: 100%;
    margin-bottom: 20px;
}

.contact .contact-sec .iframe-sec iframe {
    width: 100%;
    height: 350px;
}

.contact .contact-sec .details-sec {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-bottom: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.contact .contact-sec .details-sec .details1 {
    background-color: #F5F5F5;
    padding: 20px;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.contact .contact-sec .details-sec .details1 h2 {
    color: #7D7D7D;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
}

.contact .contact-sec .details-sec .details1 span {
    font-weight: bolder;
}

.contact .contact-sec .details-sec .details1 i {
    color: white;
    padding: 15px;
    background-color: #CE1212;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact .contact-sec .form {
    width: 100%;
    padding: 20px;
    background-color: white;
    filter: drop-shadow( 5px 5px 10px  #424242);
    -webkit-filter: drop-shadow( 2px 2px 7px  #dedcdc);
}

.contact .contact-sec .form .input-sec {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.contact .contact-sec .form .input-sec input {
    padding: 15px 10px;
}

.contact .contact-sec .form .input-sec input:nth-child(3) ,.contact .contact-sec .form .input-sec textarea {
    grid-column: span 2;
}

.contact .contact-sec .form .input-sec textarea {
    resize: none;
    padding: 15px 10px;
}

.contact .contact-sec .form button {
    margin-top: 20px;
    padding: 15px 40px;
    border-radius:  30px;
    -webkit-border-radius:  30px;
    -moz-border-radius:  30px;
    -ms-border-radius:  30px;
    -o-border-radius:  30px;
    color: white;
    background-color: #CE1212;
    border: none;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.contact .contact-sec .form button:hover {
    background-color: #E61414;
}

@media all and (max-width:991px) {
    .contact .contact-sec .details-sec {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width:767px) {
    .contact .contact-sec .form .input-sec {
        grid-template-columns: 1fr;
    }
    .contact .contact-sec .form .input-sec input:nth-child(3) ,.contact .contact-sec .form .input-sec textarea {
        grid-column: span 1;
    }
}
/* end contact section  */

/* start footer section  */
.footer {
    padding: 30px 0;
    text-align: center;
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../images/textured-metal-background.jpg);
    color: white;
    box-shadow: 0px -1px 5px rgba(21, 21, 21, 0.467);
    background-size: contain;
    background-position: right;
}

.footer .footer-sec {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 30px;
}

.footer .footer-sec .section1 ,.footer .footer-sec .section2 ,.footer .footer-sec .section3 {
    padding: 15px ;
}

.footer .footer-sec .section1 .footer-img {
    margin-bottom: 20px;
}

.footer .footer-sec .section1 img {
    width: 40px;
    margin-right: 10px;
    
}

.footer .footer-sec .section1 .footer-img h2 {
    display: flex;
    align-items: center;
    font-size: 30px;
    position: relative;
}

.footer .footer-sec .section1 .footer-img h2 span {
    color: #CE1212;
    align-self: flex-end;
}

.footer .footer-sec .section1 p {
    text-align: start;
    margin-bottom: 20px;
}

.footer .footer-sec .section1 h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #6c6c6c;
    margin-bottom: 20px;
}

.footer .footer-sec .section1 .footer-icons {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.footer .footer-sec .section1 .footer-icons i {
    font-size: 25px;
}


/* end section 1  */
.footer .footer-sec .section2 {
    grid-column: span 2;
    text-align: start;
}

.footer .footer-sec .section2 h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer .footer-sec .section2 p {
    margin-bottom: 20px;
}

.footer .footer-sec .section2 .footer-input {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.footer .footer-sec .section2 .footer-input input {
    grid-column: span 4;
    padding:  10px ;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.footer .footer-sec .section2 .footer-input button {
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: none;
    background-color: #CE1212;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.footer .footer-sec .section2 .footer-input button:hover {
    background-color: #E61414;
}

.footer .footer-sec .section2 .footer-links ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10px;
}

.footer .footer-sec .section2 .footer-links ul li {
    padding: 10px;
    list-style-type: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.footer .footer-sec .section2 .footer-links ul li a {
    text-decoration: none;
    color: white;
}

.footer .footer-sec .section2 .footer-links ul li:hover {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    background-color: #222222;
}

.footer .footer-sec .section3 {
    text-align: start;
}

.footer .footer-sec .section3 h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer .footer-sec .section3 .footer-item1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer .footer-sec .section3 .footer-item1 i {
    font-size: 22px;
    color: #CE1212;
}

/* media  */
@media all and (max-width:1200px) {
    .footer .footer-sec {
        grid-template-columns: repeat(2,1fr);
    }

    .footer .footer-sec .section2 {
        order: 3;
    }
}

@media all and (max-width:767px) {
    .footer .footer-sec {
        grid-template-columns: repeat(1,1fr);
    }

    .footer .footer-sec .section2 {
        grid-column:  span 1;
        order: 2;
    }
}

@media all and (max-width:580px) {
    .footer .footer-sec .section2 .footer-input {
        grid-template-columns: repeat(1,1fr);
    }
    .footer .footer-sec .section2 .footer-input input {
        grid-column: span 1;
    }

    .footer .footer-sec .section2 .footer-input button {
        padding:  10px ;
    }
}
/* media  */


/* end footer section  */